{{ set(this, 'title', t('app', 'Edit')) }}
{{ set(this, 'params', { 'breadcrumbs' : [
    { 'label' : t('app', 'Projects'), 'url' : '/projects' },
    { 'label' : project.name, 'url' : project.slug },
    { 'label' : this.title }
    ] }) }}
<div class="group-form group-form__edit" data-url="{{ project.slug }}/edit" data-name="{{ project.name }}">
    {% set form = active_form_begin({
    'id' : 'project-edit-form',
    'action' : "#{project.slug}/edit",
    'method' : 'PATCH'
    }) %}
    <div>
        <div class="row">
            <div class="col-lg-12">
                {{ html.activeLabel(project, 'description') | raw }}
                <div class="zero-preview">
                    <span class="preview-btn group-form__preview-btn">
                        {{ t('app', 'Preview') }}
                    </span>
                </div>
                {{ html.activeTextarea(project, 'description', { class : 'form-control group-form__description' }) | raw }}
                <figure class="highlight group-form__preview"></figure>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form.field(project, 'url') | raw }}
                {{ form.field(project, 'source_url') | raw }}
            </div>
        </div>
    </div>
    {{ html.submitButton(t('app', 'Save'), { 'class' : 'btn btn-primary' }) | raw }}
    {{ active_form_end() }}
</div>
{% if isOwner %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">{{ t('app', 'Danger zone') }}</h3>
    </div>
    <div class="panel-body">
        <div class="group-form__owner">
            <p class="text-danger">{{ t('app', 'All current owner rights will be discarded') }}</p>
            <select name="group-owner-change" class="form-control group-form__owner-change">
                {% for user in users %}
                    <option value="{{ user.id }}" {{ user.id == project.user_id ? 'selected' }}>
                        {{ user.username }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn btn-primary group-form__owner-change-btn" disabled>
                {{ t('app', 'Change owner') }}
            </button>
        </div>
        <div class="group-form__delete">
            <p class="text-danger">{{ t('app', 'Removed project can not be restored') }}</p>
            <button class="btn btn-danger group-form__delete-btn"
                data-url="{{ project.slug }}"
                data-back-url="/projects">
                {{ t('app', 'Delete project') }}
            </button>
        </div>
    </div>
</div>
{% endif %}