{{ set(this, 'title', 'Groups') }}
{{ set(this, 'params', { 'breadcrumbs' : [
    { 'label' : 'Groups', 'url' : '/groups' },
    ] }) }}
<div class="groups-list">
    <div class="row">
        <div class="col-md-9">
            <h2>Groups</h2>
        </div>
        <div class="col-md-3 groups-list__btn-new">
            <a class="btn btn-success" href="/groups/new">New group</a>
        </div>
    </div>
    {% if groups is empty %}
        <p>No groups</p>
    {% else %}
    {% for group in groups %}
        <div class="groups-list__item">
            {% if group.editable %}
            <div class="groups-list__item-controls">
                <a class="glyph-btn" href="/groups/{{ group.code }}/edit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </div>
            {% endif %}
            <a href="/groups/{{ group.code }}">{{ group.name }}</a><br>
            <span class="group-item__info">{{ group.users }} users, {{ group.projects }} projects</span>
        </div>
    {% endfor %}
    {% endif %}
</div>