{{ set(this, 'title', group.name) }}
{{ set(this, 'params', { 'breadcrumbs' : [
    { 'label' : t('app', 'Groups'), 'url' : '/groups' },
    { 'label' : this.title }
    ] }) }}
<div class="group-detail">
    {% if group.description is defined %}
    <div class="group-detail__description highlight">
        {{ group.description | raw }}
    </div>
    {% endif %}
    <div class="zero-preview">
        <a
            href="/projects/new?group={{ group.id }}"
            class="btn btn-success group-description__projects-btn">
                {{ t('app', 'Add project') }}
        </a>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Projects</a></li>
        {% if canEdit %}
            <li role="presentation" class="active"><a href="#">Users</a></li>
        {% endif %}
    </ul>
    <div class="group-detail__projects" style="display: none">

    </div>
    {% if canEdit %}
    <div class="group-detail__users">
        <div class="group-detail__users-item">
            <div class="group-detail__users-item-first">
                <a href="#" target="_blank">{{  owner.username }}</a>
                <span class="label label-success">{{ t('app', 'Owner') }}</span>
            </div>

        </div>
        {% for user in groupUsers %}
            {{ include('user.twig', { 'user' : user }) }}
        {% endfor %}
        <div class="group-detail__users-add" data-url="/groups/{{ group.code }}/users">
            <form name="group-user-add" class="form-inline">
                <select name="group_user" class="form-control group-detail__users-add-user">
                    <option value="">{{ t('app', 'Choose user') }}</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <select name="group_user_role" class="form-control">
                    {% for id, role in roles %}
                        <option value="{{ id }}">{{ role }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary group-detail__users-add-btn" disabled>
                    {{ t('app', 'Add user') }}
                </button>
                <span class="group-detail__users-add-error text-danger"></span>
            </form>
        </div>
    </div>
    {% endif %}
</div>