<div class="group-detail__users-item" data-user="{{ user.id }}" data-group="{{ group }}">
    <div class="group-detail__users-item-first">
        <a href="#" target="_blank">
            {{ user.name }}
        </a>
    </div>
    <div>
        <select name="group_role" class="form-control group-detail__users-role">
            {% for id, role in roles %}
                <option value="{{ id }}" {{ id == user.role ? 'selected' }}>{{ role }}</option>
            {% endfor %}
        </select>
        <span class="glyph-btn group-detail__users-leave" >
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </span>
    </div>
</div>