<div class="group-detail__users-item clearfix" data-user="{{ user.id }}">
    <div class="group-detail__users-item_controls">
        <a class="glyph-btn group-detail__users-leave">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a>
    </div>
    <div class="group-detail__users-item_controls">
        <select name="group_role" class="form-control group-detail__users-role">
            {% for id, role in roles %}
                <option value="{{ id }}" {{ id == user.role ? 'selected' }}>{{ role }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="group-detail__users-item-first">
        <a href="#" target="_blank">{{ user.name }}</a>
    </div>
</div>